{% extends "layout/base.html" %}

{% block 'title' %}Editar Contacto{% endblock  %}

{% load static %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">

{% block 'content' %}

    <span class="btn aux-btn-form">
        <a class="btn btn-detail" href="{% url "equipo" %}">Volver</a>
    </span>

    <form class="centrado-form" action=" {% url "administrar_edit" id=id %}" method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        <table class="tabla-form">
            {{ form.as_table }}
        </table>
        <div class="btn-wrapper">
            <input type="submit" value="Enviar" class="btn btn-send"/>
        </div>       
    </form>

{% endblock  %}
