{% extends "layout/base.html" %}

{% block 'title' %}Tratamientos{% endblock  %}

{% block 'content' %}
    <h1 class="cabecero">Nuestro trabajo</h1>
    <h2 class="cabecero" id="fisioterapia">Fisioterapia</h2>
        <div class="centrado-row">

            <img loading="lazy" class="img-lm imagenes" src="../static/media/imagenes/tratamiento.gif" alt="tratando">   
            <p class="texto-ttos">En nuestra clínica de fisioterapia ofrecemos tratamientos personalizados <span class="negrita">basados en la terapia manual</span>, adaptados a las necesidades específicas de cada paciente. Combinamos este enfoque tradicional con las últimas tecnologías, como la diatermia, para acelerar la recuperación, aliviar el dolor y mejorar la movilidad de manera eficaz y segura. Nuestra prioridad es tu bienestar integral.</p>
                          
        </div>

    <div class="centrado-row">
        
        <div>   
            <h3 class="cabecero">Osteopatia</h3>
            <p class="texto-ttos">
                La osteopatía es una terapia manual centrada en el diagnóstico, tratamiento y prevención de problemas musculoesqueléticos y de salud general. Se basa en la idea de que el cuerpo es una unidad integrada y tiene la capacidad de autosanarse. Los osteópatas utilizan técnicas de manipulación física para mejorar la movilidad, aliviar el dolor y restablecer el equilibrio del cuerpo, promoviendo la salud global sin el uso de medicamentos ni cirugía. Es especialmente eficaz para tratar dolores de espalda, lesiones deportivas, problemas posturales y dolores articulares.</p>
        </div>

        <div>   
            <h3 class="cabecero">Pediatria</h3>
            <p class="texto-ttos">
                En nuestra clínica, somos especialistas en fisioterapia y rehabilitación pediátrica, ofreciendo un enfoque integral y personalizado para el cuidado de los más pequeños. Nuestro equipo de expertos está capacitado para tratar una amplia gama de condiciones, como trastornos del desarrollo, problemas musculoesqueléticos y neurológicos. Utilizamos técnicas avanzadas y terapias adaptadas a cada niño, promoviendo su desarrollo motor, equilibrio y autonomía. Nos comprometemos a brindar un entorno cálido y especializado, donde cada niño pueda alcanzar su máximo potencial de forma segura y efectiva.
            </p>
        </div>

        <div>   
            <h3 class="cabecero">Neurología</h3>
            <p class="texto-ttos">
                Somos expertos en fisioterapia y rehabilitación neurológica para adultos y pediátrica. Contamos con un equipo altamente cualificado que ofrece tratamientos personalizados para mejorar la calidad de vida de personas con trastornos neurológicos, como ictus, parálisis cerebral, esclerosis múltiple y lesiones medulares. Trabajamos con tecnología avanzada y técnicas especializadas para ayudar a nuestros pacientes a recuperar la movilidad, fuerza y autonomía. Nuestra atención integral está diseñada para cubrir las necesidades de todas las edades, desde los más pequeños hasta los adultos, promoviendo una rehabilitación completa y efectiva.
            </p>
        </div>
    </div>

    <div class="centrado-grid alinear">
        <div >
            <h3 class="cabecero">Acupuntutra/Punción Seca</h3>                  
            
            <p class="texto-ttos">Además de ser expertos en fisioterapia, también somos especialistas en punción seca y acupuntura. Estas técnicas avanzadas nos permiten tratar eficazmente el dolor muscular, contracturas y lesiones crónicas o agudas. La punción seca se dirige a puntos gatillo musculares para aliviar tensiones y mejorar la movilidad, mientras que la acupuntura estimula puntos clave del cuerpo, promoviendo la autocuración y el equilibrio general. Ambos tratamientos son seguros, precisos y están orientados a ofrecer alivio rápido y duradero para nuestros pacientes.</p>  
            <img loading="lazy" class="img-lm imagenes" src="../static/media/imagenes/puncion.gif" alt="puncion">    
        </div>

        
        <div>
            <h3 class="cabecero" id="diagnostico">Diagnostico</h3>         
            <p class="texto-ttos">
                Diagnósticos precisos y avanzados gracias a la tecnología de vanguardia. Contamos con <span class="negrita">fluoroscopio y ecógrafo</span>, que nos ayudan a diseñar tratamientos personalizados y eficaces, garantizando una recuperación más rápida y segura para nuestros pacientes.</p>
            <h3>Ecógrafo</h3> 
            <img loading="lazy" class="img-lm imagenes" src="../static/media/imagenes/ecografo.gif" alt="ecografo"> 
        </div>
        <div>  
            <h3>Fluoroscopio</h3> 
                <img loading="lazy" class="img-lm imagenes" src="../static/media/imagenes/fluoroscopio.gif" alt="fluoroscopio">      
        </div>
 
    </div> 
     
    <hr>
    <h2 class="cabecero" id="rehabilitacion">Rehabilitación - Pilates -Entrenamientos Personalizados</h2>
    <div class="centrado-row">
        <div class="centrado">
            <p class="texto-ttos">Contamos con un gimnasio <span class="negrita">especializado para la rehabilitación</span>, recuperación y readaptación al gesto deportivo. Ofrecemos programas personalizados que combinan <span class="negrita">ejercicio terapéutico y entrenamiento funcional</span>, ayudando a los pacientes a recuperarse de lesiones y a retomar su actividad física de manera segura y efectiva, optimizando su rendimiento deportivo.</p>  
            
            <img loading="lazy" class="img-lm imagenes" src="../static/media/imagenes/gym.webp" alt="gimnasio">                  
        </div>
        <div class="centrado">
            <p class="texto-ttos">Ofrecemos clases de <span class="negrita">pilates</span> orientadas a rehabilitación en <span class="negrita">grupos reducidos</span>, asesoradas por fisioterapeutas especializados. Diseñadas para mejorar tu salud, tanto si tienes alguna patología como si deseas prevenirlas.<br>
            Con atención personalizada, fortalecemos y corregimos la postura para garantizar un bienestar duradero.</p>   

        
            <img loading="lazy" class="img-lm imagenes" src="../static/media/imagenes/pilates-luz.webp" alt="sala pilates">                  
        </div>

    </div>

    <hr>

    <h2 class="cabecero" id="podologia">Podología</h2>

        <div class="centrado-row">
            <p class="texto-ttos">En nuestra clínica de fisioterapia también contamos con un servicio especializado de <span class="negrita">podología</span>, donde realizamos <span class="negrita">desde quiropodias hasta cirugías podológicas</span>. Ofrecemos tratamientos integrales para el cuidado de tus pies, abordando tanto problemas comunes como patologías complejas, siempre con un enfoque profesional y personalizado.
            </p> 
        
            <img loading="lazy" class="img-lm imagenes" src="../static/media/imagenes/podo.webp" alt="box podologia">                  
        </div>
    <div class="centrado">
        <div class="centrado">   
            <h3 class="cabecero">Estudios Biomecánicos de la Pisada</h3>
            <div class="centrado-row">
                <img loading="lazy" class="img-lm imagenes" src="../static/media/imagenes/estudio.webp" alt="estudio pisada"> 
                <p class="texto-ttos">
                    En nuestra clínica ofrecemos estudios biomecánicos de la pisada completos para analizar detalladamente cómo caminas o corres, identificando posibles desalineaciones o problemas que puedan afectar tu bienestar. Si el estudio revela la necesidad de plantillas personalizadas, las fabricamos directamente en la clínica, asegurando un ajuste preciso y adaptado a tus necesidades. Nuestras plantillas están diseñadas para mejorar la postura, prevenir lesiones y aliviar el dolor, proporcionando un soporte adecuado para que puedas moverte con mayor comodidad y seguridad.
                </p>
            </div>
        </div>

        <div>   
            <h3 class="cabecero">Intervenciones Quirúrgicas</h3>
            <p class="texto-ttos">
                Especialistas en cirugía podológica en general y en cirugía mínima invasiva.
                Los procedimientos quirúrgicos se realizan con anestesia local y en régimen ambulatorio (no precisan hospitalización) por lo que el paciente se va caminando a su casa.
                Uña encarnada, Juanete, Dedos en garra, neuromas...
            </p>
        </div>
</div>

<hr>

    <h2 class="cabecero">Psicología</h2>
   

        <div class="centrado-row">
            <p class="texto-ttos">También contamos con un servicio especializado de psicología para ofrecer una atención integral a nuestros pacientes. Nuestra psicóloga está preparada para abordar una amplia gama de necesidades emocionales y psicológicas, brindando apoyo en el manejo del estrés, ansiedad, depresión y otros trastornos. Creemos en el bienestar completo, y por ello ofrecemos un espacio de confianza donde nuestros pacientes pueden trabajar en su salud mental y emocional, complementando su proceso de recuperación física o mejorando su calidad de vida.
            </p> 
        
            <img loading="lazy" class="img-lm imagenes" src="../static/media/imagenes/psico.webp" alt="box psicología">                  
        </div>
 
    

{% endblock  %}