{% extends "layout/base.html" %}

{% block 'title' %}Aviso Legal{% endblock  %}


{% block 'content' %}
    <h1 class="cabecero">Clinica de Fisioterápia CIRCE</h1>
    <h2 class="cabecero">Aviso Legal y politica de tratamiento de datos</h2>

    <div class="centrado">    
        <ul class="list list-norm">
            <li>Este sitio web ha sido creado por la empresa Circe Fisioterapia con carácter informativo y para uso personal de los usuarios.</li> 
            <li>Respeto el Reglamento General de Protección de Datos (RGPD) de la Unión Europea. Este documento de política explica cómo tratamos cualquier información proporcionada.</li> 
            <li>Este sitio web no recoge ni almacena ninguna información personal identificable en segundo plano.</li> 
            <li>La información proporcionada mediante el formulariode contacto solo es usada para poder ponernos en contacto con usted. Este sitio web no recoge ninguna otra información.</li> 
            <li>¿Dónde se almacena su información?</li> 
            <li>    Cuando se utiliza el formulario de contacto, los datos se almacenan en nuestra cuenta de Gmail, a la que sólo nosotros tenemos acceso.</li>
            <li>¿Qué seguridad tienen sus datos?</li> 
            <li>    Este sitio web transmite mediante HTTPS, que encripta todos los datos entre el navegador y el servidor. Su proveedor de red puede ver que está cargando archivos de este sitio web, pero no su contenido. Esto también le protege de la interceptación de datos por parte de terceros, por ejemplo, cuando navega por una red Wi-Fi pública, o de los operadores de red que muestran anuncios en este sitio.</li> 
            <li>Para preguntas y/o comentarios sobre nuestra política de cookies y esta declaración, por favor, contacta con nosotros usando los siguientes datos de contacto:</li> 
            <li>Para cualquier consulta o duda sobre nuestra politica de privacidad pongase en contacto con nosotros.</li> 
            <li>Actualizado por última vez en: 05 de agosto de 2024</li> 
        </ul>
    </div>

    <div class="centrado">
        <h2 class="cabecero">Datos de la empresa:</h2>
        <ul class="list list-norm">
            <li>Denominación social: Circe Fisioterapia</li>
            <li> Número de identificación fiscal: B85845584</li>
            <li>Domicilio social: C. Juntera 6, 28400 Collado Villalba, Madrid</li>
            <li>Correo electrónico: circe.fisioterapia@gmail.com</li>
            <li>Teléfono: +34 918 559 727</li>  

        </ul>
    </div>
{% endblock  %}

